!!! 5
%html{lang: :en, prefix: "csvwt: http://w3c.github.io/csvw/tests/vocab# mf: http://www.w3.org/2001/sw/DataAccess/tests/test-manifest# rdft: http://www.w3.org/ns/rdftest#"}
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html;charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", type: "text/css", href: "http://www.w3.org/StyleSheets/TR/W3C-ED"}
    :css
      body: {bacground-image: none;}
      dl.test-detail, dl.test-options {
        padding: 0.5em;
      }
      dl.test-detail>dt, dl.test-options>dt {
        float: left;
        clear: left;
        text-align: right;
        font-weight: bold;
        color: green;
      }
      dl.test-detail>dt:after, dl.test-options>dt:after {content: ": "}
      dl.test-detail>dd, dl.test-options>dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
      }
      dl.test-description>dt {margin-top: 2em;}
      dd {margin-left: 0;}
      dd code {display: inline;}
      footer {text-align: center;}
    %title
      = man['label']
  %body{resource: man['id'], typeof: man['type']}
    %p
      %a{href: "http://www.w3.org/"}
        %img{src: "http://www.w3.org/Icons/w3c_home", alt: "W3C", height: 48, width: 72}
    %h1{property: "rdfs:label"}<= man['label']
    %p{property: "rdfs:comment"}<= man['comment']
    :markdown
      See the [CSVT Vocabulary](vocab.html) for the meaning of properties and options.

    %section.contents
      %h2="Contents"
      %ol
        - manifests.each do |id, man|
          %li
            %a{href: "##{id}"}<=man['label']
    - manifests.each do |id, man|
      %section{id: id, property: "mf:entry", inlist: true, resource: id, typeof: man['type']}
        %h2<=man['label']
        %p{property: "rdfs:comment"}<= man['comment']
        %p
          - if id =~/json/
            Instructions specific to running JSON tests.
          - elsif id =~ /rdf/
            Instructions specific to running RDF tests.
          - elsif id =~ /validation/
            Instructions specific to running Validataion tests.
        %dl.test-description
          - man['entries'].each do |test|
            %dt
              = "#{id}#{test['id']}:"
              %span{about: test['id'], property: "mf:name"}<~test['name']
            %dd{property: "mf:entry", inlist: true, resource: id + test['id'], typeof: test['type']}
              %p{property: "rdfs:comment"}<~test['comment']
              %dl.test-detail
                %dt="approval"
                %dd{property: "mf:approval", resource: test['approval']}<~test['approval']
                - if test['action']
                  %dt="action"
                  %dd
                    %a{property: "mf:action", href: test['action']}<~test['action']
                - if test['result']
                  %dt="result"
                  %dd
                    %a{property: "mf:result", href: test['result']}<~test['result']
                - if test['httpLink']
                  %dt="Link Header"
                  %dd{property: "csvt:httpLink", content: test['httpLink']}
                    %code
                      &= test['httpLink']
                - if test['httpStatus']
                  %dt="Status Code"
                  %dd{property: "csvt:httpStatus", content: test['httpStatus'], datatype: "xsd:integer"}
                    %code
                      &= test['httpStatus']
                - if test['contentType']
                  %dt="Content Type"
                  %dd{property: "csvt:contentType", content: test['contentType']}
                    %code
                      &= test['contentType']
                - if test['implicit']
                  %dt="Implicit"
                  %dd{rel: "csvt:implicit"}
                    - test['implicit'].each do |u|
                      %a{href: u}<~u
                - if test['option']
                  %dt="options"
                  %dd{property: "csvt:option", typeof: ""}
                    - if test['option']['csvt:noProv']
                      noProv:
                      %span{property: "csvt:noProv", datatype: "xsd:boolean"}="true"
                    - if test['option']['csvt:minimal']
                      minimal:
                      %span{property: "csvt:minimal", datatype: "xsd:boolean"}="true"
                    - if test['option']['user_metadata']
                      user metadata:
                      %span{property: "csvt:metadata", resource: test['option']['user_metadata']}<~test['option']['user_metadata']
    %footer
      %span{property: "dc:publisher"}
        W3C CSV on the Web Working Group
